
<div class="col-12 mainideas" height="400">
  <table>
    <tr>
      <td>
        <h2>Results:</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Proposal</th>
        <th scope="col">Votes</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <!-- Loop over each object in the proposals array  -->
      {{#each proposals as |proposal|}}
      <tr>
        <td id="{{proposal.id}}">{{proposal.id}}</td>
        <td id="p{{proposal.id}}">{{proposal.proposal}}</td>
        <td id="pv{{proposal.id}}">{{proposal.prop_votes}}</td>
        <td>
          {{#times proposal.prop_votes}}

          {{/times}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
</td><td>

<div id="chartHolder" height="400">
  <canvas id="myChart" width="400" height="400"></canvas>
</div>
</row>
</td>
    </tr>
  </table>
<script src="../js/chart.js"></script>


